<div class="container-x1">  
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">  
        <a class="navbar-fluid" href="#">STAR WARS</a>  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">  
          <span class="navbar-toggler-icon"></span>  
        </button>  
        <div class="collapse navbar-collapse" id="collapsibleNavbar">  
          <ul class="navbar-nav"> 
            <li class="nav-item">  
              <a class="nav-link" href="#"></a>  
            </li>  
            <li class="nav-item">  
              <a class="nav-link" href="home">Inicio</a>  
            </li>
            <li class="nav-item">  
              <a class="nav-link"href="films" >Peliculas</a>  
            </li>  
            <li class="nav-item">  
              <a  class="nav-link" href="people">Personajes</a>  
            </li> 
            <li class="nav-item">  
                <a class="nav-link" href="planets">Planetas</a>  
              </li>  
            <li class="nav-item">  
                <a class="nav-link" href="species">Especies</a>  
              </li>
              <li class="nav-item">  
                <a class="nav-link" href="starships">Naves Espaciales</a>  
              </li>  
              <li class="nav-item">  
                <a class="nav-link" href="vehicles">Vehiculos</a>  
              </li>
          </ul>  
        </div>    
      </nav>  
      <div class="bg-img"> 
        <div class="container-x1"style="margin-top:56px">        
          <div class="container">
            <div class="col">
              <h1>estas en el componente de planetas</h1> 
              <p>Esto es una prueba.</p>
            </div>
          </div> 